@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url(customui.css);
@font-face {
  font-family: "Typo Hoop";
  src: url("../img/fonts/Typo\ Hoop_Regular.otf");
}

@font-face {
  font-family: "Typo Hoop";
  src: url("../img/fonts/Typo\ Hoop_Bold.otf");
  font-weight: bold;
}

body {
  font-family: "Space Mono", sans-serif;
  background: none;
  background-color: #fff;
}

footer {
  font-family: "Space Mono", sans-serif;
  font-size: 1rem;
  background-color: #39578a;
}

h1 {
  font-family: "Space Mono", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #111;
}
