@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url(customui.css);

@font-face {
  font-family: "Typo Hoop";
  src: url("../img/fonts/Typo\ Hoop_Regular.otf");
}

@font-face {
  font-family: "Typo Hoop";
  src: url("../img/fonts/Typo\ Hoop_Bold.otf");
  font-weight: bold;
}

body {
  font-family: "Space Mono", sans-serif;
}

.btn-profile {
  font-family: "Space Mono", monospace;
  border: 1px solid #39578a;
  border-radius: 6px;
  padding: 10px 20px;
  background-color: white;
  color: #39578a;
}

.btn-profile:hover {
  background-color: #f0f0f0;
}

section {
  border: 1px solid #39578a;
  border-radius: 8px;
  padding: 16px;
}

.header-btn {
  border-color: #39578a;
}

.header-btn:hover {
  border-color: #6c6ea0;
}

header section {
  border: 0;
  border-radius: 0px;
  padding: 0px;
}

h2 {
  font-family: "Typo Hoop", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #111;
}

footer {
  font-family: "Space Mono", sans-serif;
  font-size: 1rem;
  background-color: #39578a;
}

.border-color {
  border-color: #39578a;
}
