@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
  font-family: "Typo Hoop";
  src: url("../img/fonts/Typo\ Hoop_Regular.otf");
}

@font-face {
  font-family: "Typo Hoop";
  src: url("../img/fonts/Typo\ Hoop_Bold.otf");
  font-weight: bold;
}

html,
.cursor {
  cursor: url("../img/cursor.svg"), auto;
}

body {
  font-family: "Space Mono", sans-serif;
  /* background-image: url("../img/images/360_F_65482539_C0ZozE5gUjCafz7Xq98WB4dW6LAhqKfs.jpg"); */
}

h1,
#loginLabel,
#registerLabel {
  font-family: "Typo Hoop";
}

#loginBtn,
#registerBtn {
  background-color: #39578a;
}

#loginBtn:hover,
#registerBtn:hover {
  background-color: #6c6ea0;
}

#signUpText,
#signInText,
#loggedModal,
.datepicker-cell {
  color: #39578a;
}

#loggedModal {
  border-color: #39578a;
}

.cursor-pointer,
.datepicker-controls .next-btn:hover,
.datepicker-controls .prev-btn:hover {
  cursor: url("../img/cursor-pointer.svg"), auto !important;
}

datepicker {
  background-color: white !important;
}
.datepicker-dropdown {
  background-color: white !important;
  border: 2px solid #39578a !important;
  border-radius: 7px;
}

.datepicker-picker,
.datepicker-header,
.datepicker-footer {
  background-color: white !important;
}
.datepicker-cell:not(.disabled):hover {
  background-color: #f3f4f6 !important;
  color: #39578a;
}

.disabled {
  color: gray !important;
}

.focused {
  background-color: #39578a !important;
  color: white;
}

.datepicker-controls .view-switch {
  background-color: white;
  color: #39578a;
}

.datepicker-controls .next-btn svg,
.datepicker-controls .prev-btn svg {
  color: #39578a;
  cursor: pointer;
}

.datepicker-controls .next-btn,
.prev-btn {
  background-color: white;
}
