@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url(swiper.css);
@import url(datepicker.css);
@import url(customui.css);
@import url(scratch.css);

@font-face {
  font-family: "Typo Hoop";
  src: url("../img/fonts/Typo\ Hoop_Regular.otf");
}

@font-face {
  font-family: "Typo Hoop";
  src: url("../img/fonts/Typo\ Hoop_Bold.otf");
  font-weight: bold;
}

body {
  background-color: #f3f4f6;
  font-family: "Space Mono", sans-serif;
  background: url("../img/images/bg-1.png") repeat-y;
  background-position: bottom;
}

#landingSect {
  background: url("../img/images/bgsect1.png") no-repeat;
  background-size: top;
  background-position: bottom;
}

#packsOffers {
  background-color: rgb(241, 241, 241);
}

h1,
#loginLabel,
#registerLabel {
  font-family: "Typo Hoop";
}

.font-title {
  font-family: "Typo Hoop";
}

#loginBtn,
#registerBtn {
  background-color: #39578a;
}

#loginBtn:hover,
#registerBtn:hover {
  background-color: #6c6ea0;
}

#signUpText,
#signInText,
#loggedModal,
.datepicker-cell {
  color: #39578a;
}

#loggedModal {
  border-color: #39578a;
}

html,
body,
.main {
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
  height: 100%;
  scroll-behavior: smooth;
}

.hide-text input::placeholder {
  color: transparent !important;
}

.hide-text input {
  color: transparent !important;
  caret-color: transparent;
}

.hide-text button > h1,
.hide-text button > p {
  display: none;
}
.tooltip {
  visibility: hidden;
  position: absolute;
  transform: translateY(60px);
}
.has-tooltip:hover .tooltip {
  visibility: visible;
  z-index: 100;
}
