.destinationGhost {
  background-color: #6c6ea0;
}

.tripGhost {
  transform: scale(0.7) !important;
}

#destinationSortableList .sortable-placeholder {
  display: none !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}
