@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
  font-family: "Typo Hoop";
  src: url("../assets/fonts/Typo\ Hoop_Regular.otf");
}

@font-face {
  font-family: "Typo Hoop";
  src: url("../assets/fonts/Typo\ Hoop_Bold.otf");
  font-weight: bold;
}

body {
  font-family: "Space Mono", sans-serif;
  /* background-image: url("../assets/images/360_F_65482539_C0ZozE5gUjCafz7Xq98WB4dW6LAhqKfs.jpg"); */
}

#loginLabel {
  font-family: "Typo Hoop";
}

#loginBtn,
#registerBtn {
  background-color: #39578a;
}

#loginBtn:hover,
#registerBtn:hover {
  background-color: #6c6ea0;
}

#signUpText {
  color: #39578a;
}
